<!DOCTYPE html>
<html>
	<head>
		<!-- Document Settings -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="http://placehold.it/16x16" />
		<!-- Page Title -->
		<title>Proton - Minimal Portfolio Theme</title>
		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
		<!-- Styles -->
		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="assets/css/font-awesome.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body>
		<div class="loader"></div>
		<div class="wrapper">
			<div class="container">
				<header>
					<div class="logo">
						<a href="/home/index">
						<img src="<%= asset_path 'logo.jpg'%>" alt="">
						</a>
					</div>
					<div class="mobile-menu">
						<span class="line"></span>
					</div>
					<nav>
						<ul id="menu">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="/home/about">About</a></li>
							<li><a href="/home/contact">Contact</a></li>
							<li><a href="/home/matching">Matching</a></li>
							<li>
							 <% if user_signed_in? %> 
                                 <li><a class="page-scroll" href="users/edit"><%= current_user.email %></a></li>
				     		   	  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }%></li>
							 <% else %>
    							 <li><%= link_to "SignUp", new_user_registration_path %></li>
    				    		 <li><%= link_to "Login", new_user_session_path%></li>
    					     <% end %>
    					     </li>
						</ul>
					</nav>
				</header>
				<div class="page-title">
					<div class="row">
						<div class="col-md-9 col-xs-12">
							<h1><b>Get in touch with us</b><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ratione molestias magni.</h1>
						</div>
					</div>
				</div>
				<div class="contact">
					<div class="row">
						<div class="col-md-9">
							<div class="contact-form">
								<div class="row">
									<form method="POST" action="home/form">
										<div class="col-md-4"><input type="text" name="name" placeholder="Name"></div>
										<div class="col-md-4"><input type="text" name="email" placeholder="Email"></div>
										<div class="col-md-4"><input type="text" name="website" placeholder="Website"></div>
										<div class="col-md-12">
											<textarea placeholder="Your Message" name="message" cols="30" rows="10"></textarea>
											<input class="submit" type="submit" value="Send Message">
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="contact-info">
								<div class="about-info">
									<h4>Contact info</h4>
									<p>Lorem ipsum dolor sit amet, conse adipisicing elit. Libero incidunt quod ab mollitia quia dolorum conse.</p>
								</div>
								<div class="recent-posts">
									<h4>Recent posts</h4>
									<ul>
										<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>
										<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>
										<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>
										<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>
										<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer>
					<p>
						<b>Contact</b>
						<br>
						Phone / +80 356 22 5688
						<br>
						Email / info@proton.com
						<br>
						Studio / 36 Jump Street, New York ACT 2609
					</p>
				</footer>
			</div>
		</div>
		<script src="assets/js/jquery-1.12.4.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/jquery.slicknav.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>